body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.App {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error_message_wrapper {
    overflow: hidden;
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 150px;
    padding: 0 15px 15px 15px;
    position: relative;
    width: 300px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: default;
}

.error_message_wrapper:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.error_message_title {
    font-size: 30px;
    font-weight: bold;
}

.error_message_message {
    width: 65%;
}

.error_message_exclamation_mark {
    position: absolute;
    right: -15%;
    top: 0%;
    height: 100%;
}

.status_badge_title {
    font-weight: bold;
    font-size: 30px;
    margin: 20px 0 0 0;
}

.status_badge_subtitle {
    margin: 0 0 20px 0;
    font-size: 20px;
}

.status_badge_wrapper {
    position: relative;
    display: inline-block;
    display: flex;
    height: 50px;
    width: 100px;
    padding: 0 20px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: grey;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.Tilt:hover .status_badge_wrapper {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.Tilt:hover .Tilt-inner {
    transform: translateZ(30px);
}

.status_badge_icon {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.status_failed {
    background-color: #f24646 !important;
}

.status_success {
    background-color: #049b4a !important;
}

.status_canceled {
    background-color: grey !important;
}

.status_badge_text {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    margin: auto auto auto 20px;
}

.Tilt {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 20px 27px rgba(0, 0, 0, 0.05);
    transform-style: preserve-3d;
}

.Tilt-status {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 150px;
    width: 200px;
    padding: 0 15px 15px 15px;
    position: relative;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    text-align: center;
    cursor: default;
}
