body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.App {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project_wrapper {
    display: flex;
}

.project_block {
    text-align: center;
    cursor: pointer;
    width: 200px;
    height: 50px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 2px;
    margin: 0 20px;
}

.project_block:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.project_block_selected {
    transform: scale(1.05);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.save_button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0085FF;
    border-radius: 30px;
    color: white;
    padding: 10px 15px;
    border-width: 0;
    margin-top: 20px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
}

.save_button:disabled {
    background-color: white;
    color: grey;
    cursor: default;
}

.welcome_message_wrapper {
    overflow: hidden;
    position: relative;
    border-radius: 2px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: default;
}

.welcome_title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 10px 0;
}

.welcome_text {
    text-align: center;
    margin-top: 130px;
    font-size: 20px;
}

.welcome_message_wrapper:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.welcome_message_wrapper:hover .circleci_logo {
    animation: scale_logo .8s;
    animation-fill-mode: forwards;
}

.welcome_message_wrapper:hover .circleci_logo_second {
    animation: scale_logo_second .8s;
    animation-fill-mode: forwards;
}

.circleci_logo {
    position: absolute;
    height: 100px;
    left: 50%;
    transform: translateX(-50%);
    animation-timing-function: ease;
}

.circleci_logo_second {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    transform: scale(0.25);
    opacity: 0;
    animation-timing-function: ease;
}

@keyframes scale_logo {
    0% {
        transform: translateX(-50%) scale(1);
    }
    30% {
        transform: translateX(-50%) scale(0.8);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(-50%) scale(4);
    }
}

@keyframes scale_logo_second {
    0% {
        transform: translateX(-50%) scale(0.25);
    }
    30% {
        transform: translateX(-50%) scale(0.2);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
}

.error_message_wrapper {
    overflow: hidden;
    background-color: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 150px;
    padding: 0 15px 15px 15px;
    position: relative;
    width: 300px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: default;
}

.error_message_wrapper:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.error_message_title {
    font-size: 30px;
    font-weight: bold;
}

.error_message_message {
    width: 65%;
}

.error_message_exclamation_mark {
    position: absolute;
    right: -15%;
    top: 0%;
    height: 100%;
}

.status_badge_title {
    font-weight: bold;
    font-size: 30px;
    margin: 20px 0 0 0;
}

.status_badge_subtitle {
    margin: 0 0 20px 0;
    font-size: 20px;
}

.status_badge_wrapper {
    position: relative;
    display: flex;
    height: 50px;
    width: 100px;
    padding: 0 20px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: grey;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.Tilt:hover .status_badge_wrapper {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.Tilt:hover .Tilt-inner {
    transform: translateZ(30px);
}

.status_badge_icon {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.status_failed {
    background-color: #f24646 !important;
}

.status_success {
    background-color: #049b4a !important;
}

.status_canceled {
    background-color: grey !important;
}

.status_badge_text {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    margin: auto auto auto 20px;
}

.Tilt {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 20px 27px rgba(0, 0, 0, 0.05);
    transform-style: preserve-3d;
}

.Tilt:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.Tilt_status {
    border-radius: 2px;
    display: inline-block;
    height: 150px;
    width: 200px;
    padding: 0 15px 15px 15px;
    position: relative;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    text-align: center;
    cursor: default;
}




/* Dark mode additions */

.dark_mode .error_message_wrapper {
    background-color: #272727;
}

.dark_mode .error_message_title {
    color: white;
}

.dark_mode .error_message_message {
    color: white;
}

.dark_mode .error_explanation {
    color: white;
}

.dark_mode .status_badge_title {
    color: white;
}

.dark_mode .status_badge_subtitle {
    color: white;
}

.dark_mode .Tilt_status {
    background-color: #272727;
}

.dark_mode .welcome_message_wrapper {
    background-color: #272727;
}

.dark_mode .welcome_title {
    color: white;
}
.dark_mode .welcome_text {
    color: white;
}
